{% extends 'core/base.html' %}


{% block header %}
    Produse
{% endblock header %}
    
{% block title %}
    Lista de produse
{% endblock title %}
    
{% block content %}
    <table style="width: 85%;" align="center">
        <thead>
            <tr>
                <th>ID</th>
                <th>PRODUS</th>
                <th>STATUS</th>
            </tr>
        </thead>
        <tbody>
            {% if products %}
                {% for product in products %}
                    <tr>
                        <td>{{ product.id }}</td>
                        <td>{{ product.nume }}</td>
                        <td>{{ product.cumparat }}</td>
                    </tr>
                {% endfor %}
            {% endif %}
        </tbody>
    </table>
{% endblock content %}
